* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 400px;
  padding: 2rem;
  border: 2px solid green;
}

.form-inputs-div {
  display: flex;
  flex-wrap: wrap;
}

.form-inputs-div>* {
  width: 100%;
  height: 2rem;
}

.form-inputs-div>input {
  padding: 1rem;
  border: 0;
  background-color: antiquewhite;
}

#product-image-input {
  display: none;
}

label {
  font-weight: bold;
}

#add-product-btn {
  width: 100px;
  height: 2rem;
  margin: auto;
}

h1 {
  text-align: center;
}

#products-container,
#product-display-div,
#product-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

#products-container {
  background-color: bisque;
  width: 800px;
  gap: 1rem;
}

#product-display-div {
  gap: 1rem;
}

.product-slot {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
  gap: 1rem;
  width: 640px;
  padding: 1rem;
  border-radius: 1rem;
}

#e-commerce-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.product-details {
  width: 100%;
  font-size: 2rem;
  text-align: left;
}

.product-image-div {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  transition: scale 0.2s ease-in;
}

.product-image-div:hover {
  scale: 1.2;
}

.product-image-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#add-new-product-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-trash-can {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: scale 0.1s ease-in;
}

.fa-trash-can:hover {
  scale: 1.1;
  color: darkgoldenrod;
}

.fa-trash-can:active {
  scale: 0.9;
}

#sort-and-add-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sort-by-select,
#add-new-product-btn {
  padding: 0.2rem;
  height: 2rem;
  font-size: 1.2rem;
}

#search-bar-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar-input {
  padding: 1rem;
  height: 2rem;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 2rem;
}

button:hover {
  cursor: pointer;
}

#delete-confirmation-dialog {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

#delete-confirmation-dialog>div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#delete-confirmation-dialog button {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100px;
}

#upload-image-btn {
  width: 100px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: whitesmoke;
}